@import './base.css';


#app {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: #444444;
}

a {
  text-decoration: none;
  transition: 400ms cubic-bezier(0.7, -0.6, 0.3, 1.2) text-shadow,
    400ms cubic-bezier(0.7, -0.6, 0.3, 1.2) letter-spacing;
  color: #7295e2;
  padding: 2rem;
  font-size: 16px;
}

@media (hover: hover) {
  a a:before {
    width: 100%;
    transform: scaleX(0);
    transition: 400ms cubic-bezier(0.7, -0.6, 0.3, 1.2) transform;
  }
  
  a:hover {
    letter-spacing: 4px;
  }
  
  a:hover:before {
    transform: scaleX(1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
nav {
  text-align: center;
}
body {
  text-align: center;
}
